* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: 10px 10px 11px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 11px -7px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 11px -7px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc900;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc900;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffc900;
  background: #ffc900;
}

::selection {
  color: #ffc900;
  background: #ffc900;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.6);
}

header.sticky {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .logo:hover {
  color: #4ec3c7;
}

header.sticky .logo {
  color: #000;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 70px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.023%;
  letter-spacing: 0.48px;
  transition: 0.3s ease-in-out;
}

header.sticky .navigation li a {
  color: #000;
}

header .navigation li a:hover {
  color: #ffc900;
  transition: 0.3s ease-in-out;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/slide.png);
  background-size: cover;
}

.banner2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/slide1.png);
  background-size: cover;
}

.banner3 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/slide2.png);
  background-size: cover;
}

.content {
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  z-index: 999;
  top: 40%;
}

.content p {
  font-size: 1em;
  color: #fff;
}

.content h2 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.023%; /* 56.009px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.content .ylwText {
  color: #ffc900;
}

.btn {
  font-size: 1em;
  color: #26261e;
  background: #ffc900;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 20px;
  text-decoration: none;
  transition: 0.5s;
}

.btn:hover {
  background: #26261e;
  color: #fff;
}

.about-section {
  background: #26261e;
}

.about-section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 36px;
}

.about-section-header h2 {
  color: #f5f5f5;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.023%; /* 50.408px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.about-section-header .line {
  background: #f5f5f5;
  height: 9px;
  max-width: 500px;
  margin: 0 auto;
}

.about-section-content {
  text-align: center;
}

.about-section-content h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.023%; /* 44.807px */
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.about-section-content .ylwText {
  color: #ffc900;
  font-weight: bold;
}

.about-section-content .about-section-content-text-block {
  padding-top: 38px;
}

.about-section-content-text-block-small h4 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.023%; /* 33.605px */
  letter-spacing: 0.72px;
  margin-top: 26px;
}

.about-section-slider {
  padding-top: 55px;
}

.who-we-support-section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 36px;
}

.who-we-support-section-header h2 {
  color: #000000;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.023%; /* 50.408px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.who-we-support-section-header .line {
  background: #26261e;
  height: 9px;
  max-width: 500px;
  margin: 0 auto;
}

.who-we-support-section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 35px;
  padding-top: 53px;
}

.who-we-support-section-content-block {
  margin: 0 auto;
  max-width: 450px;
}

.who-we-support-section-content-block img {
  text-align: center;
}

.who-we-support-section-content-block h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 140.023%; /* 33.605px */
  letter-spacing: 0.72px;
  padding-top: 20px;
}

.who-we-support-section-content-block ul li {
  color: #000;

  /* Main font */
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.023%; /* 28.005px */
  letter-spacing: 0.6px;
}

.who-we-support-section-content-block-img {
  text-align: center;
}

.who-we-support-section-content-block ul {
  padding-top: 20px;
}

.who-we-support-section-btn {
  text-align: center;
}

.who-we-support-section-text-block {
  padding-top: 80px;
}

.who-we-support-section-text-block h4 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.023%; /* 44.807px */
  letter-spacing: 0.96px;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 65px;
}

.who-we-support-section-text-block .ylwText {
  color: #ffc900;
  font-weight: bold;
  background: #26261e;
  padding-top: 0;
  max-width: 350px;
  margin-top: 26px;
}

.quote-section-image img {
  border-radius: 50%;
}

.quote-section {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.quote-section-text {
  max-width: 700px;
}

.quote-section-text h6 {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140.023%; /* 33.605px */
  letter-spacing: 0.72px;
  margin-top: 20px;
}

.quote-section-image {
  margin-left: 40px;
}

.values-section-header h2 {
  color: #000000;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.023%; /* 50.408px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  padding-bottom: 8px;
  text-align: center;
}

.values-section-header .line {
  background: #26261e;
  height: 9px;
  max-width: 500px;
  margin: 0 auto;
}

.values-section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 100px;
  padding-top: 50px;
}

.values-section-block h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.023%; /* 33.605px */
  letter-spacing: 0.72px;
  text-transform: uppercase;
  max-width: 300px;
  text-align: center;
}

.values-section-block-image {
  text-align: center;
}

.values-section-block {
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 30px;
  background: #26261e;
}

footer p {
  color: #f5f5f5;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.023%; /* 28.005px */
  letter-spacing: 0.6px;
}

.who-we-support-section-btn a {
  text-decoration: none;
  color: #26261e;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    height: 100%;
  }

  header .navigation li {
    margin-left: 0;
  }

  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }

  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menuToggle.active {
    background: url(images/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header.sticky .menuToggle {
    filter: invert(1);
  }

  .who-we-support-section-content {
    display: flex;
    flex-direction: column;
  }

  .quote-section {
    flex-direction: column;
  }

  .values-section-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .quote-section-image img {
    width: 100%;
  }

  .line {
    max-width: 230px !important;
  }

  .who-we-support-section-content {
    padding: 30px;
  }

  .quote-section {
    padding: 30px;
  }
}
