*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo{
    color: #111;
}

header .logo span{
    color: #f0d502;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

header.sticky .navigation li a{
    color: #111;
}

header .navigation li a:hover{
    color: #3d8297;
}

header .logo img{
    width: 200px;
}

.menuToggle{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
    display: none;
}

.menuToggle.active{
    background: url(images/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
}

@media(max-width: 991px){

    .menuToggle{
        display: unset;
    }
    header, header.sticky {
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li{
        margin-left: 0;
    }

    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }

}

.hero-section{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section-content{
    padding: 120px;
}

.hero-section-content h1{
    font-size: 36px;
    line-height: 2.5rem;
}

.hero-section-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #565656;
    margin-top: 20px;
    padding-bottom: 20px;
}

.hero-section-content h1 span{
    color: #f0d502;
}

.hero-section-img{
    position: relative;
}

.hero-section-img .rectangle{
    position: absolute;
    bottom: -85px;
    z-index: -1;
    right: 25px;
}

.hero-section-img .ellipse{
    position: absolute;
    top: 0;
    z-index: -1;
    left: -40px;
}

.hero-section-content a{
    text-decoration: none;
    color: #fff;
    background: #1aabd0;
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.hero-section-content a:hover{
    background: #3d8297;
    transition: 0.3s ease-in-out;
}

.more-info-section{
    display: flex;
    align-items: center;
    gap: 120px;
    margin-top: 2rem;
}

.more-info-section-content h1{
    font-size: 36px;
    line-height: 2.5rem;
}

.more-info-section-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #565656;
    margin-top: 20px;
    padding-bottom: 20px;
}

.we-produce-section-header{
    text-align: center;
    padding-top: 2rem;
}

.we-produce-section-header h1{
    font-size: 36px;
    line-height: 2.5rem;
}

.we-produce-section-card{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 40px;
    text-align: center;
    padding: 30px;
    max-width: 350px;
    margin-top: 25px;
}

.we-produce-section-card h1{
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
}

.we-produce-section-card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    margin-top: 10px;
}

.we-produce-section-layout{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.we-work-section{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    align-items: center;
}

.we-work-section h1{
    font-size: 36px;
    line-height: 29px;
}

.we-work-section-card{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 40px;
    padding: 30px;
    max-width: 350px;
    margin-top: 25px;
}

.we-work-section-card i{
    background: #1aabd0;
    color: #f0d502;
    padding: 15px;
    border-radius: 50px;
}

.we-work-section-card p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    margin-top: 10px;
}

.horobchyk-for-education-section{
    text-align: center;
}

.horobchyk-for-education-section h1{
    font-size: 36px;
    line-height: 29px;
}

.horobchyk-for-education-section p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    margin-top: 10px;
    max-width: 850px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.horobchyk-for-education-section a {
    text-decoration: none;
    color: #fff;
    background: #1aabd0;
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.horobchyk-for-education-section a:hover{
    background: #3d8297;
    transition: 0.3s ease-in-out;
}

.horobchyk-for-education-section img{
    padding-top: 20px;
    padding-bottom: 20px;
}

.horobchyk-social-img img{
    width: 100%;
}

.horobchyk-social-img {
    width: 40%;
}

.horobchyk-social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 150px;
}

.horobchyk-social h1{
    font-size: 36px;
    line-height: 29px;
    padding-bottom: 30px;
}

.horobchyk-social a{
    background: #1aabd0;
    padding: 15px;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.horobchyk-social a:hover{
    background: #3d8297;
    transition: 0.3s ease-in-out;
}

footer{
    background: #3d8297;
    color: #fff;
    padding: 10px;
    text-align: center;
}


@media screen and (max-width: 1150px) {
    .hero-section{
        flex-direction: column;
    }

    .hero-section-img {
        padding: 2rem;
    }

    .hero-section-img img{
        width: 100%;
    }

    .hero-section-content{
        padding: 2rem;
    }

    .more-info-section{
        flex-direction: column-reverse;
        padding: 2rem;
        gap: 0;
    }

    .more-info-section img{
        width: 100%;
    }

    .we-produce-section-layout{
        flex-direction: column;
        gap: 10px;
    }

    .we-produce-section-card{
        margin: 0 auto;
        margin-top: 20px;
    }

    .we-work-section{
        flex-direction: column;
        padding: 2rem;
    }
    .horobchyk-for-education-section img{
        width: 100%;
    }

    .horobchyk-social{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 2rem;
        padding-bottom: 0;
        text-align: center;
    }
    
    .horobchyk-social h1{
        font-size: 24px;
    }

    .horobchyk-social-img{
        width: 100%;
    }
}