*{
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    list-style: none;
}

.nav-logo{
    display: flex;
}

.nav-logo-links li{
    margin-left: 50px;
    display: inline-block;
    padding: 40px;
}

.nav-logo-links a{
    text-decoration: none;
    font-weight: 500;
    color: #163561;
}

#menu{
    display: none;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-button{
    background-color: #99BAED;
    text-decoration: none;
    color: #fff;
    padding: 32px 23px;
    border-radius: 20px;
}

.nav-links li{
    margin-left: 80px;
}

.main-block{
    display: flex;
    padding: 150px 0px 150px 150px;
    justify-content: space-between;
    align-items: center;
}

.main-block h1{
    font-weight: 700;
    font-size: 75px;
    color: #163561;
    line-height: 100px;
}

.main-block p{
    color: #153461;
    font-size: 25px;
    line-height: 40px;
    margin-top: 30px;
    padding-bottom: 100px;
}

.history-block{
    display: flex;
    align-items: center;
    padding: 80px;
    justify-content: space-between;
}

.history-block h1{
    font-weight: 700;
    font-size: 75px;
    color: #163561;
    line-height: 100px;
}

.history-block p{
    color: #153461;
    font-size: 25px;
    line-height: 40px;
    margin-top: 30px;
}

.history-block-right-responsive{
    display: none;
}

.services-block-header{
    text-align: center;
}

.services-block-header h1{
    font-size: 70px;
    color: #153461;
    font-weight: 700;
}

.services-block-cards{
    display: flex;
    margin-top: 80px;
    padding: 100px;
    justify-content: center;
}

.services-block-cards .active{
    background-color: #99BAED;
}

.services-block-cards .active h1{
    color: #fff;
}

.services-block-cards .active p{
    color: #fff;
    font-weight: 400;
}

.services-block-cards div:first-child{
    margin-left: 0;
}

.card{
    text-align: center;
    border-radius: 29px;
    padding: 50px;
    box-shadow: 0px 5px 0px #99BAED;
    margin-left: 50px;
    background-color: #FAFBFF;
}

.card h1{
    font-size: 45px;
    margin-top: 60px;
}

.card p{
    font-size: 25px;
    line-height: 38px;
    margin-top: 60px;
    color: #153461;
}

.card img{
    margin-top: 50px;
}

.gallery-block-header{
    text-align: center;
    padding-bottom: 100px;
}

.gallery-block-header h1{
    font-size: 70px;
    color: #153461;
    font-weight: 700;
}

.gallery-block-objects{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.gallery-block-objects img{
    margin-left: 40px;
}

.gallery-block-objects img:first-child{
    margin-left: 0px;
}

.gallery-block-link{
    text-align: center;
    margin-top: 100px;
}

footer{
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
}

footer .footer-desc{
    margin-top: 40px;
}

footer .footer-links{
    margin-top: 50px;
}

footer .footer-links a{
    margin-left: 25px;
}

footer .footer-links a:first-child{
    margin-left: 0;
}

footer .footer-desc p{
    color: #153461;
    font-size: 25px;
    line-height: 37.65px;
}

.footer-line{
    background-color: #99BAED;
    height: 1px;
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
}

@media(max-width:1100px){
    
    .nav-links{
        display: grid;
    }

    .main-block{
        display: grid;
        padding: 0;
    }

    .main-block img{
        width: 100%;
    }
    
    .main-block-right{
        margin-top: 30px;
    }

    .main-block-left{
        padding: 40px
    }
    
    .history-block{
        display: grid;
    }
    .history-block-right{
        display: none;
    }
    .history-block-right-responsive{
        display: block;
    }
    .history-block img{
        width: 100%;
    }
    .history-block-left{
        margin-top: 30px;
    }
    .gallery-block-objects{
        display: grid;
    }
    .gallery-block-objects img{
        margin: 0;
        margin-top: 20px;
    }
}